li {
    list-style: none;

}

link {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    padding: 2rem;
    margin: 0;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.link:hover {
    color: cadetblue;
    text-underline: cadetblue;
}


.container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 13rem;
}

.container-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 600px;
    margin-left: 25rem;
}


.container-column h1 {
    font-size: 7rem;

}

.NotFoundImg {
     width: 300px;
    height: auto;
}

.profile-picture {
    width: 100px;
    border-radius: 50px;
}